#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "n n"
    "s b"
    "p p"
    "e sb";
    margin: 0;
    width: 60%;
    height: fit-content;
    background-color: lightgreen;
}

.name{
    display: grid;
    grid-area: n;
}

.salary{
    display: grid;
    grid-area: s;
}
.birthday{
    display: grid;
    grid-area: b;
}
.phone{

    grid-area: p;
}
.errors{

    grid-area: e;
    color: red;
    margin: 0;

}
.errors->p{

    color: red;
    margin: 0;

}
.submit-button{

    grid-area: sb;
}